
src/.vs/CalculateBMI/FileContentIndex/39c994e4-dc54-4dd0-a104-5b3c25e9a256.vsidx
src/.vs/CalculateBMI/FileContentIndex/read.lock
src/.vs/CalculateBMI/FileContentIndex/490eb638-0958-4897-aff6-8771fca910b2.vsidx
src/.vs/CalculateBMI/v17/.suo
src/obj/Debug/_IsIncrementalBuild
src/obj/Debug/CalculateBMI.csproj.AssemblyReference.cache
src/obj/Debug/CalculateBMI.csproj.CoreCompileInputs.cache
src/obj/Debug/CalculateBMI.csproj.FileListAbsolute.txt
src/obj/Debug/CalculateBMI.csproj.GenerateResource.cache
src/obj/Debug/CalculateBMI.exe
src/obj/Debug/CalculateBMI.MainForm.resources
src/obj/Debug/CalculateBMI.pdb
src/obj/Debug/CalculateBMI.Properties.Resources.resources
src/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/bin/Debug/CalculateBMI.pdb
src/bin/Debug/CalculateBMI.exe
